# Ignore configuration files that may contain sensitive information.
*~
*.gz
*.gzip
*.bzip2
*.zip
error_log
sites/*/settings.php

# # Ignore paths that contain user-generated content.
cache/
cgi-bin/
tmp/
sites/*/files/
sites/*/private/
